DATABASE_URL=jdbc:postgresql://postgres:5432/my_database
DATABASE_NAME=my_database
DATABASE_USERNAME=my_user
DATABASE_PASSWORD=secret123

FIREBASE_PATH=firebase/yoen-firebase-account.json
FIREBASE_BUCKET=yoen-f3d90.firebasestorage.app

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=2L4kDd9f$XyP!ZpQ7sMpUcvHWt9LfHq8
