DATABASE_URL=DB_URL_HERE
DATABASE_NAME=DB_NAME_HERE
DATABASE_USERNAME=DB_USER_HERE
DATABASE_PASSWORD=DB_PASSWORD_HERE

FIREBASE_PATH=FIREBASE_PATH_HERE
FIREBASE_BUCKET=FIREBASE_BUCKET_HERE

REDIS_HOST=REDIS_HOST_HERE
REDIS_PORT=REDIS_PORT_HERE

JWT_SECRET=JWT_SECRET_HERE
