GRAFANA_CLOUD_PROMETHEUS_URL=https://prometheus-prod-XX-XXX.grafana.net/api/prom/push
GRAFANA_CLOUD_PROMETHEUS_USER=METRICS_INSTANCE_ID
GRAFANA_CLOUD_LOKI_URL=https://logs-prod-XXX.grafana.net/loki/api/v1/push
GRAFANA_CLOUD_LOKI_USER=LOGS_INSTANCE_ID
GRAFANA_CLOUD_TOKEN=GLC_ACCESS_POLICY_TOKEN
